<html lang="en">
<head>
    <!-- Title -->
    <title>Classic Business | Space - Responsive Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="text/css" href="../../favicon.ico">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/login.css" %}">
    <link rel="stylesheet"
          href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet"
          href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet"
          href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet"
          href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/custombox/dist/custombox.min.css">
    <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/animate.css/animate.min.css">
    <link rel="stylesheet"
          href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet"
          href="https://htmlstream.com/preview/space-v1.6.1/assets/vendor/fancybox/jquery.fancybox.css">

    <!-- CSS Space Template -->
    <link rel="stylesheet" href="https://htmlstream.com/preview/space-v1.6.1/assets/css/theme.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

</head>

<body>
<!-- Skippy -->
<a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
        <span class="u-skiplink-text">Skip to main content</span>
    </div>
</a>
<!-- End Skippy -->


<!-- ========== MAIN CONTENT ========== -->
<main id="content">
    <!-- Hero Section -->
    <div class="gradient-overlay-half-dark-v3 bg-img-hero"
         style="background-image: url(https://htmlstream.com/preview/space-v1.6.1/assets/img/1920x1080/img4.jpg);">
        <!-- Main Content -->
        <div class="d-lg-flex align-items-lg-center height-85vh--lg">
            <div class="container space-2 space-0--lg mt-lg-8">
                <div class="row justify-content-lg-between align-items-lg-center">
                    <div class="col-lg-5 mb-7 mb-lg-0">
                        <!-- Title -->
                        <span class="d-block text-white text-uppercase mb-2">Join the change</span>
                        <h1 class="display-4 font-size-48--md-down text-white mb-0">Space service that moves work
                            forward</h1>
                        <!-- End Title -->
                    </div>

                    <div class="col-lg-5">
                        <!-- Signup Form -->
                        <div class="bg-white shadow-sm rounded p-6">
                            <form class="js-validate" novalidate="novalidate" method="post" action="/index/">
                                <div class="mb-4">
                                    <h2 class="h4">itest plateform</h2>
                                </div>


                                <!-- Input -->
                                <div class="js-form-message mb-3">
                                    <div class="js-focus-state input-group input-group form">
                                        <input type="text" class="form-control form__input" name="username" required=""
                                               placeholder="Enter your username" aria-label="Enter your username">
                                    </div>
                                </div>
                                <!-- End Input -->


                                <!-- Input -->
                                <div class="js-form-message mb-3">
                                    <div class="js-focus-state input-group input-group form">
                                        <input type="password" class="form-control form__input" name="password"
                                               required="" placeholder="Enter your password"
                                               aria-label="Enter your password">
                                    </div>
                                </div>
                                <!-- End Input -->
                                {{ error }}<br>
                                {% csrf_token %} <br>
                                <button type="submit" class="btn btn-block btn-primary">Get Started</button>
                            </form>
                        </div>
                        <!-- End Signup Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Content -->
    </div>


    <!-- End Hero Section -->

    <hr class="my-0">


    <!-- Divider -->
    <div class="w-50 w-lg-35 mx-auto">
        <hr class="my-0">
    </div>
    <!-- End Divider -->


</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
    <div class="container space-2">
        <div class="row justify-content-md-between">

            <p class="small text-muted">All rights reserved. © LH. 2020 Htmlstream.</p>
        </div>
    </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->


<!-- JS Plugins Init. -->
<script>
    $(window).on('load', function () {
        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991,
            hideTimeOut: 0
        });
    });

    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));

        // initialization of unfold component
        $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
            afterOpen: function () {
                if (!$('body').hasClass('IE11')) {
                    $(this).find('input[type="search"]').focus();
                }
            }
        });

        // initialization of form validation
        $.HSCore.components.HSValidation.init('.js-validate', {
            rules: {
                confirmPassword: {
                    equalTo: '#password'
                }
            }
        });

        // initialization of forms
        $.HSCore.helpers.HSFocusState.init();

        // initialization of malihu scrollbar
        $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

        // initialization of autonomous popups
        $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-signup-modal', {
            autonomous: true
        });

        // initialization of show animations
        $.HSCore.components.HSShowAnimation.init('.js-animation-link');

        // initialization of slick carousel
        $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

        // initialization of fancybox
        $.HSCore.components.HSFancyBox.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
    });
</script>

</body>
</html>