{% extends "navigation.html" %}
{% block navigation %}
    {#   这是在manages.html当中的#}
    <div class="wrapper">


        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">模块添加</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <form action="/manage/module_add/" method="post">
                        <label>所属项目：</label>
                        {{ form.project }}<br>
                        <label>名字：</label>
                        {{ form.name }}<br>
                        <label>描述：</label>
                        {{ form.describe }} <br>
                        {% csrf_token %}
                        <input type="submit" value="创建">
                    </form>
                </div>
                <!-- end row -->

            </div>
            <!-- container -->

        </div>
        <!-- content -->


    </div>
{% endblock %}
