{% extends "navigation.html" %}
{% block navigation %}
{#    //这是在manages.html当中的#}
    <div class="wrapper">


        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">编辑项目</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <form action="/manage/project_edit/{{ pid }}/" method="post">
                        <label>名称：</label>
                        {{ form.name }}<br>
                        <label>描述：</label>
                        {{ form.describe }}<br>
                        <label>状态：</label>
                        {{ form.status }} <br>
                        <input type="submit" value="更新">
                    </form>
                </div>
                <!-- end row -->

            </div>
            <!-- container -->

        </div>
        <!-- content -->


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

{% endblock %}
